body {
  text-align: center;
  background-image: url("images/drums.jpg");
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 5rem;
  color: white;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 gold;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4x 0 white;
  opacity: 0.2;
}

.red {
  color: red;
}

.drum {
  border: 2px solid black;
  font-size: 50px;
  font-weight: 900;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
}
